

li{
    padding: 0.1875rem 1.125rem;
    list-style: none;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    font-weight: 600;
}

li:hover{
    color: green;
    cursor: pointer;
}

ul{
    padding: 0;
    margin-top: 10px;
}

.option-box{
    position: absolute;
    max-height: 150px;
    overflow-y: scroll;
    width: 100%;
}


.section{
    margin: 1em 0 1em 0;
}

@media screen and (min-width:1000px) {
    .grid{
        padding-top: 10px;
        display: grid;
        grid-template-columns: 500px 400px;
        grid-gap: 10px;   
    }
    .search{
        position: relative;
        z-index: 1;
    }
    agm-map {
        height: 500px;
        width: 100%;
    }

}

@media screen and (max-width:1000px) {

    .search{
        position: relative;
        z-index: 1;
    }

    agm-map {
        height: 250px;
        width: 100%;
    }
}

.data{
    display: flex;
    align-items: center;
    justify-content: center;
}

.label{
    font-weight: bold;
}