<div class="row">
  <h6>Parámetros de visualización</h6>
</div>
<div class="row">
  <div class="col-md-3 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-body class="example-items-rows">
        <p>aca va un grafico</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-3 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-body class="example-items-rows">
        <p>aca va un grafico</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-3 col-lg-3 col-xxxl-3">
    <nb-card>
      <nb-card-body class="example-items-rows">
        <p>aca va un grafico</p>
      </nb-card-body>
    </nb-card>
  </div>
  <nb-card>
    <nb-card-body class="example-items-rows">
      <button nbButton size="giant">GENERAR INFORME</button>
    </nb-card-body>
  </nb-card>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-xxxl-6">
    <ngx-plant-selector (fieldAddedEvent)="fieldAddedEventHandler($event)"
      (sectorAddedEvent)="sectorAddedEventHandler($event)" (plantAddedEvent)="plantAddedEventHandler($event)"
      (plantReset)="resetChartConfig()">
    </ngx-plant-selector>
  </div>
  <div class="col-md-6 col-lg-6 col-xxxl-6">
    <nb-card [hidden]="!adjustementAvailable">
      <nb-card-header>Ajustar periodo de visualización</nb-card-header>
      <nb-card-body>
        <form [formGroup]="filterForm">
          <!-- (ngSubmit)="plantEventHandler()" -->
          <div class="form-group">
            <label for="inputDate" class="label">Selección de fecha</label><br>
            <input id="inputDate" nbInput formControlName="dateCtrl" placeholder="Click para seleccionar fecha"
              [nbDatepicker]="formpicker">
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
          <div class="form-group">
            <label for="inputPeriod" class="label">Selección de rango</label><br>
            <nb-select id="inputPeriod" formControlName="periodCtrl">
              <!--nb-select id="inputPeriod" formControlName="periodCtrl" [(selected)]="selectedPeriod"-->
              <nb-option value="0">Máximo</nb-option>
              <nb-option value="1">1 mes</nb-option>
              <nb-option value="3">3 meses</nb-option>
              <nb-option value="12">1 año</nb-option>
            </nb-select>
          </div>
          <!--button type="submit" nbButton status="primary">Ajustar</button-->
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Gráfico comparativo de promedios de crecimiento de frutos</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-multiple-xaxis [data]="data" [options]="options"></ngx-chartjs-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-body>
        <ngx-tree-greed-left-chart></ngx-tree-greed-left-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<diV>
  <nb-card>
    <nb-card-header>Tabla Anual</nb-card-header>
    <ngx-datatablescharts></ngx-datatablescharts>
  </nb-card>
</diV>