<div class="example-container">
    <div fxLayout  fxLayoutAlign="center center">
        <mat-form-field class="filter">
          <input matInput type="text" (keyup)="doFilter($event.target.value)" class="filter" placeholder="Buscar">
        </mat-form-field>
      </div>
  
  <table mat-table #dataTable [dataSource]="dataSource" matSort>

    
    <ng-container matColumnDef="user" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{user?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="ecuatorial_length">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Ecuatorial </th>
      <td mat-cell *matCellDef="let element"> {{element.ecuatorial_length | number:'':'fr-FR'}}mm </td>
    </ng-container>

    <ng-container matColumnDef="polar_length">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Polar </th>
      <td mat-cell *matCellDef="let element"> {{element.polar_length | number:'':'fr-FR'}}mm </td>
    </ng-container>

    <ng-container matColumnDef="sector">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Sector </th>
      <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
    </ng-container>

    <ng-container matColumnDef="plant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Planta </th>
      <td mat-cell *matCellDef="let element"> {{element.plant}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Fruta </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd-MM-yyyy 	HH:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="opacity: 0 !important;"></th>
      <td mat-cell *matCellDef="let element"> <a mat-button (click)="deleteM(element.id)" color="accent" style="height: 1px;"><mat-icon aria-hidden="false" aria-label="Example home icon" class="ico">clear</mat-icon></a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<mat-paginator class="table2" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
