<div>
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   
      <ng-container matColumnDef="id">
           <th mat-header-cell *matHeaderCellDef> id </th>
           <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="ecuatorial_length">
         <th mat-header-cell *matHeaderCellDef> Ecuatorial </th>
         <td mat-cell *matCellDef="let element"> {{element.ecuatorial_length}} </td>
      </ng-container>
   
      <ng-container matColumnDef="polar_length">
         <th mat-header-cell *matHeaderCellDef> Polar </th>
         <td mat-cell *matCellDef="let element"> {{element.polar_length}} </td>
      </ng-container>
   
      <ng-container matColumnDef="fruitId">
         <th mat-header-cell *matHeaderCellDef> Fuit Id </th>
         <td mat-cell *matCellDef="let element"> {{element.fruitId}} </td>
      </ng-container>
        
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
   </table> 
   <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>